table {
    width: 100%;
}

.certificates-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.certificates-connected {
    display: flex;
    justify-content: center!important;
    text-align: center;
}

.certificate-actions {
    display: flex;
    justify-content: end!important;
    text-align: end;
    gap: 20px;
}

td {
    white-space: nowrap;
}

td * {
    vertical-align: middle;
}