table {
    width: 100%;
    background-color: #EEE;
}

td * {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    vertical-align: middle;
}

td {
    white-space: nowrap;
}

.main-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-row-connected {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center!important;
    gap: 20px;
}

.main-row-actions {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: end!important ;
    gap: 20px;
}

.main-actions > button {
    flex: 1;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
