.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.content-row {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px 20px;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #BBB;
}

.action-content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 5px 20px;
    white-space: nowrap;
    background-color: #fff;
    border-bottom: 1px solid #BBB;
}
.content-row * {
    display: flex;
    align-items: center;
}

.content-stretch {
    flex: 1;
}

.content-actions {
    justify-content: center;
}
