<div class="container" *ngIf="isLoggedIn">
  <div>
    <div class="user-content-row" *ngFor="let element of userTableData; trackBy:identify">
      <div *ngIf="element.connected">
        <mat-icon [ngStyle]="{ 'color': '#46d61e' }">check_circle</mat-icon>
      </div>
      <div *ngIf="!element.connected">
        <mat-icon [ngStyle]="{ 'color': '#b51616' }">highlight_off</mat-icon>
      </div>
      <div class="user-content-username">
        <span>{{element.username}}</span>
        <mat-icon [ngStyle]="{ 'color': '#d6c41e' }" *ngIf="element.isAdmin">grade</mat-icon>
      </div>
      <button *ngIf="currentUser?.isAdmin" class="user-content-actions" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteUser(element)"
          *ngIf="currentUser?.isAdmin">
          <mat-icon>delete</mat-icon> Delete User
        </button>
        <button mat-menu-item (click)="promoteUser(element)"
          *ngIf="!element.isAdmin && currentUser?.isAdmin">
          <mat-icon>grade</mat-icon> Promote User
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="action-content" *ngIf="(userTableData?.length || 0) > 0">
    <button mat-raised-button color="primary" (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
    <a mat-raised-button href="{{getOpenVpnLink()}}">Open VPN Client</a>
    <button *ngIf="currentUser !== undefined" mat-raised-button mat-icon-button (click)="openCertificatesDialog()">
      <mat-icon>router</mat-icon> OVPN Profiles
    </button>
    <button mat-raised-button (click)="mapNetworkDrive()"><mat-icon>storage</mat-icon> Map Drive</button>
    <button *ngIf="currentUser?.isAdmin" mat-raised-button (click)="generateInviteLink(false)"><mat-icon>account_circle</mat-icon> Invite User</button>
    <button mat-raised-button (click)="generateInviteLink(true)" color="accent"><mat-icon>email</mat-icon> Create VPN Invite ( {{guestCount}} )</button>
  </div>
</div>
