.password-prompt-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.password-prompt-container {
    width: fit-content;
}

.password-prompt-actions {
    display: inline-flex;
    gap: 20px;
}