.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.title {
    font-weight: bold;
}

.content-row {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 20px;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #BBB;
    div {
        max-width: 100%;
        overflow: hidden;
    }
}

.column-content * {
    flex: 1;
}

.action-content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 1px 5px;
    white-space: nowrap;
    background-color: #fff;
    border-bottom: 1px solid #BBB;
}

.action-content-row * {
    margin: auto;
}

.action-content-row mat-form-field {
    flex: 1;
    .mat-form-field-wrapper {
        padding-bottom: 0px;
        .mat-form-field-flex > .mat-form-field-infix {
            padding: 5px;
            .mat-input-element {
                margin-top: -7px;
                vertical-align: middle;
            }
        }
    }
}

.content-row * {
    display: flex;
    align-items: center;
}

.content-stretch {
    flex: 1;
}

.content-actions {
    justify-content: center;
}
